<app-navbar></app-navbar>
<!--
<div class="container d-flex">
  <p>
    <a
      href="../active-post/active-post.component.html"
      class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover me-5"
      >Active Posts</a
    >
  </p>
  <p>
    <a
      href="../inactive-post/inactive-post.component.html"
      class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
      >Inactive posts</a
    >
  </p>
</div> -->

<app-active-post></app-active-post>
<app-inactive-post></app-inactive-post>
